@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-display:'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}




body{
  box-sizing: border-box;
  
  
}
#Footerprojectcard::-webkit-scrollbar{
  display: none;
}
